/* Estilização globais */
body {
    background-color: #F7F7F7;
    margin: 0px;
    margin-top: 60px;
    display: grid; /* Faz com que o container se comporte em grade */
    font-family: Arial, Helvetica, sans-serif; /*Altera a família da fonte*/
    gap: 60px; /* Espaçamento para todos os lados entre os componentes*/
    justify-items: center; /* Centraliza na horizontal todos os itens */
}

img {
    max-width: 100%; /*Faz com que a imagem ocupe apenas 100% do elemento pai (coluna)*/
    display: block; /* Faz com que o elemento se comporte como um bloco */
}

a {
    text-decoration: none; /* Retira a decoração do link (underline)*/
}

p, h1, h2, h3 {
    margin: 0px; /*Retira o espaçamento externo que o navegador coloca*/
}

p {
    font-size: 20px;  /*Altera o tamanhao da fonta de 16 para 20*/
}

/*Estilização do menu*/
.menu {
    display: flex; /*Garante que os links sempre vão estar um ao lado do outro*/
    gap: 20px; 
    justify-content: center;
}

.menu a {
    text-transform: uppercase;
    background-color: #FFF;
    padding: 15px 30px;
    color: #000;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #9353ff;
}

/* Estilização do conteudo */
.conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
}

.botao {
    background-color: #9353ff;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFF;
    place-self: end;
}

.botao:hover {
    
    color: #000;
    text-shadow: #b28ef0;
    box-shadow: 3px 3px 2px rgba(119, 0, 255, 0.3);
}

/*Estilizaçao da introdução*/
.introducao{
    display: grid;
    padding: 40px;
    background-color: #FFF;
    text-align: end;
    align-content: center;
    gap: 20px;
}

.subtitulo {
    text-transform: uppercase;
    font-size: 64px;
    text-align: end;
    padding: 40px;
    align-self: center;
    color: rgba(0, 0, 0, 0.2);
}

.vantagens{
    background-color: #FFF;
    padding: 40px;
}
.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}
.vantagens-item p {
    grid-column: 2; 
  grid-row: 2;
}

/*Estilização do footer*/
.rodape {
    background-color: #FFF;
    text-align: center;
    padding: 40px;
    width: 95%;
}